[versions]
commons_lang_version = "3.17.0"
commons_text_version = "1.12.0"
commons_io_version = "2.18.0"
fabric_loom_version = "1.9.2"
log4j_version = "2.24.2"
provider_version = "1.5.0.3"
vineflower_version = "1.10.1"

fabric_loader_version = "0.16.8"

[libraries]
commons_lang = { module = "org.apache.commons:commons-lang3", version.ref = "commons_lang_version"}
commons_text = { module = "org.apache.commons:commons-text", version.ref = "commons_text_version"}
commons_io = { module = "commons-io:commons-io", version.ref = "commons_io_version"}
fabric-loom = { module = "net.fabricmc:fabric-loom", version.ref = "fabric_loom_version"}
vineflower = { module = "org.vineflower:vineflower", version.ref = "vineflower_version"}
gson = { module = "com.google.code.gson:gson", version = "2.11.0"}

fabric-loader = { module = "net.fabricmc:fabric-loader", version.ref = "fabric_loader_version" }
provider = { module = "com.wildermods:provider", version.ref = "provider_version" }
log4j_core = { module = "org.apache.logging.log4j:log4j-core", version.ref = "log4j_version" }
log4j_api = { module = "org.apache.logging.log4j:log4j-api", version.ref = "log4j_version" }
log4j_slf4j2_impl = { module = "org.apache.logging.log4j:log4j-slf4j2-impl", version.ref = "log4j_version" }


[bundles]
fabric = ["fabric-loader", "fabric-loom", "vineflower", "provider", "log4j-core", "log4j-api", "log4j-slf4j2-impl"]